@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #40454a;
  --primary-color: #79001e;
  --primary-color-light: #a3001f;
}

body {
  color: var(--foreground-color);
  font-size: 0.8rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-primary {
    background-color: var(--primary-color);
  }
  .bg-primary-light {
    background-color: var(--primary-color-light);
  }
  .text-primary {
    color: var(--primary-color);
  }
  .text-primary-light {
    color: var(--primary-color-light);
  }
  .btn-nav {
    @apply rounded-full bg-primary text-white w-[24px];
  }
  .btn-nav:hover {
    @apply bg-primary-light;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
